---
layout: default
title: Home
---

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>

<h1>Welcome</h1>
<p>
    Thank you for visiting my website.
    My research focuses on robot learning, computer vision, and reinforcement learning.
    I also like participating in Kaggle computer vision related competitions.
</p>

<hr style="border: 1.5px solid #bbbbbb;"/>
<div class="intro">

    <div>
        <h3>Publications</h3>
            <p>
                <b>J. Xu</b>, S. Zhu, H. Guo, and S. Wu. <a href="https://arxiv.org/abs/1709.07911">
                Avoidance of manual labeling in robotic autonomous navigation
                through multi-sensory semi-supervised learning.</a> arXiv preprint arXiv:1709.07911, 2017
                <br>
                <button class="button" onclick="window.location=href='https://www.youtube.com/watch?v=BvOjQcOTBvU'">
                    Project video
                </button>
            </p>
            <p>
                <b>J. Xu</b>, S. Wu, H. Guo, H. Wang, and Q. Yang.
                <a href="{{ site.baseurl}}/papers/Facial Keypoint Recognition.pdf">
                 Masked loss residual convolutional neural network for facial keypoint detection.
                </a> IEEE Conference on MOBIMEDIA, 2017
            </p>
            <p>
                H. Guo, <b>J. Xu</b>, S. Zhu, and S. Wu.  <a href="{{ site.baseurl}}/papers/full_duplex.pdf">
                Realtime software defined self-interference cancellation based
                on machine learning for in-band full duplex wireless communications.</a> IEEE Conference on ICNC, 2018

            </p>
            <p>
                S. Zhu, H. Guo, <b>J. Xu</b>, and S. Wu.
                <a href="{{ site.baseurl}}/papers/sensor.pdf">
                    Distance based user localization and tracking with mechanical
                    ultrasonic beamforming.
                </a>
                IEEE Conference on ICNC, 2018
            </p>
            <p>
                    S. Wu, J. Rendall, M. Smith, S. Zhu, <b>J. Xu</b>, Q. Yang, H. Wang, and P. Qin.
                <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=7851022">
                    Survey on prediction
                    algorithms in smart homes.
                </a>IEEE Internet of Things Journal, 2017
            </p>
    </div>

    <hr style="border: 1.5px solid #bbbbbb;"/>

    <div>
        <h3> Kaggle Competitions </h3>
        {% for post in site.posts %}
            {% if post.title contains "Kaggle"%}
                <p>{{post.date | date: "%b %e, %Y"}}
                    <a  href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}.</a> <b>{{ post.rank }}</b>
                    <br>
                    Github: <a href="{{ post.github }}">{{ post.github }}</a>
                </p>
            {% endif %}

        {% endfor %}

    </div>

    <hr style="border: 1.5px solid #bbbbbb;"/>

    <div>
        <h3> Paper Implementations </h3>

        <h4>Reinforcement Learning</h4>
            <p>
                DDPG solves torcs using pytorch
                <br>
                Github: <a href="https://github.com/JunhongXu/imitation-torcs/tree/master/rl_model">
                            https://github.com/JunhongXu/imitation-torcs/tree/master/rl_model
                        </a>
            </p>
            <p>
                Parallel actor-critic solving navigation task in Minecraft environment.
                <br>
                Github: <a  href="https://github.com/JunhongXu/pytorch-a2c-minecraft">
                            https://github.com/JunhongXu/pytorch-a2c-minecraft
                        </a>

            </p>
            <p>
                Deep deterministic policy gradient implemented by tensorflow.
                <br>
                Github: <a  href="https://github.com/JunhongXu/Reinforcement-Learning-Tensorflow">
                            https://github.com/JunhongXu/Reinforcement-Learning-Tensorflow
                        </a>

            </p>
        <h4>GANs</h4>
            <p>
                WGAN implemented by tensorflow
                <br>
                Github: <a href="https://github.com/JunhongXu/WGAN-TF">
                            https://github.com/JunhongXu/WGAN-TF
                        </a>
            </p>
            <p>
                DCGAN implemented by tensorflow
                <br>
                Github: <a href="https://github.com/JunhongXu/DCGAN-TensorFlow">
                            https://github.com/JunhongXu/DCGAN-TensorFlow
                        </a>
            </p>
    </div>
</div>
</body>
</html>

