<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <div >
        <a href="{{ site.baseurl }}/index.html " ><img src="{{ site.avatar }}" align="middle" style="width: 50%;margin-right: auto;
         margin-left: auto; display: block;" /></a>
      </div>
      <h2>
        <a href="{{ site.baseurl }}/index.html">
          <p style="text-align: center">{{ site.title }}</p>
        </a>
      </h2>
        <p class="lead" style="font-size: 18px; text-align: center">{{ site.description }}</p>
        <p class="lead" style="font-size: 18px; text-align: center"> Email:
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/index.html">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    </nav>

  </div>
</div>
