---
layout: post
title: Regularization in neural networks
---


<!DOCTYPE html>
<html lang="en">
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-3698471-21', 'stanford.edu');
      ga('send', 'pageview');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type = "text/javascript">
    {% include npgmain.js %}
</script>
<script type = "text/javascript">
    {% include convnet-min.js %}
</script>
<script>
    {% include regularization.js %}
</script>
<style type="text/css">
canvas {
    border: 1px solid #555;
    margin-top: 10px;
}
#wrap {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 200px;
}
</style>
<body onLoad="NPGinit(10);">
<p>
    I have recently been messing around with <a href="https://cs.stanford.edu/people/karpathy/convnetjs/">ConvNetJS</a> and found
    it is really interesting, so I decided to use it to illustrate the weight decay in neural networks. Weight decay is one of the most
    common regularization strategies in neural networks. It decreases the weights in a neural network by adding
    a term $\frac{1}{2}\lambda w^2$ (this is called L2 regularization) in the loss function, where $\lambda$ is the regularization strength.
    The gradient will be $\lambda w$, which is a linear function with respect to the weights $w$. When updating the weights,
    our new weights will become $w = -step(\frac{dloss}{dw}) - \lambda w$.
    This means that it reduces the model complexity by penalizing larger weights and tries to make the weights as zero as possible.
    Here comes another question: why we want smaller weights in neural networks? The intuition is that if the weight values are large,
    the neural network is more sensitive to the random noise in the training set, which means the noise may contribute a lot in the final
    output layer and this is not what we want. We want the neural network to ignore the noise and smaller weights are less sensitive to the data noise.
</p>
<p>
    The below window is an interactive ConvNetJS window that allows you to control the regularization strength of a 2 layer neural net with 50 neurons in each layer.
    If we set the strength to 0.0, the neural network tries to fit every point in the training set, which means the model might be overfitting to the current training set.
    On the other hand. as the strength goes up, the model becomes less complex and the curve becomes more flatten.
</p>

<br /><br  />
<input id="buttontp" type="submit" value="Reload Network" onclick="reload();" style="width: 300px; height: 50px;"/>

<div style="float: right;">
# of points to generate:  <input type="text" name="num_points" id="num_data" value="20" style="width: 50px">
<input id='ranger' type="submit" value="regenerate data" style="height:50px;" onclick="regen_data();" />
</div>
<br/>
<br/>
<div class="slidecontainer">
    <p>Weight decay value:  <span id="value">0</span> (Range from 0 to 0.3)</p>
  <input type="range" min="0" max="0.3" value="0" class="slider" id="slider" step="any" onchange="barChange()">

</div>
<canvas id="NPGcanvas" width="400" height="300">Browser not supported for Canvas. Get a real browser.</canvas>

<br />
<br />


<p>Let's dig a little deeper into this L2 regularization and see how it is derived from a probabilistic view. I will show
that L2 regularization can be interpreted as Gaussian prior over the model parameter</p>

<p>
    Consider a dataset $(\textbf{X}, \textbf{y})$ and your model parameters $w$. We assume that there are some error sampled
    from a Gaussian distribution with variance $\sigma^2$: $e \sim \mathcal{N}(0, \sigma^2)$.
    Our goal is to make a prediction using
    the model parameters for a target variable $y$ given some new variable $x$: $y = wx$. The simplest way to do this is by maximizing
    the log-likelihood:
    $$
         w = \arg\max_w p(\textbf{y}|\textbf{X}, w)
    $$

    We know that because error is sampled from Gaussian distribution, we can express the joint probability in this way:
    $$
    p(\textbf{y}|\textbf{X}, w) = \prod_{i=1}^{N} \mathcal{N}(wx_i, \sigma^2)
    $$

    Then we can find model parameter $w$ by maximizing this joint probability:
    $$
    \begin{split}
        w &= \arg\max_w  \prod_{i=1}^{N} \mathcal{N}(wx_i, \sigma^2)\\
         &= \arg\max_w log \prod_{i=1}^{N}\mathcal{N}(wx_i, \sigma^2)\\
         &= \arg\max_w \sum_{i=1}^{i=N}log{\mathcal{N}(wx_i, \sigma^2)}
    \end{split}
    $$

    The $log$ operator is just for converting the joint probability from product to summation and also avoiding
    computation in the exponential in Gaussian distribution. Following the previous computation, we will get
    $$
        w = \arg\max_w (- \frac{\sigma^2}{2}\sum_{i=1}^{N}(wx_i - y_i)^2 + \frac{N}{2}log\sigma^2 - \frac{N}{2}log2\pi)
    $$

    Maximizing the log-likelihood is equal to minimizing the sum of squared error (the first term of the equation), but what does
    it have to do with L2 regularization? We need to go one step further to derive L2 regularization. Let's consider the prior
    distribution of the model parameter. We assume that this prior distribution is sampled from Gaussian distribution with variance
    $\sigma^2_m$: $p(w) \sim \mathcal{N}(0, \sigma^2_m)$. The prior distribution encodes our subjective belief of the problem and we choose Gaussian distribution is because it
    is simple to demonstrate.
</p>

    <p>
        Based on Bayes' theorem, we can have the following equation:
        $$
            p(w|\textbf{X}, \textbf{y}) \propto p(\textbf{y}|\textbf{X}, w)p(w)
        $$

        $p(\textbf{y}|\textbf{X}, w)$ is the likelihood function we have already known and
        we also know that p(w) is sampled from a Gaussian distribution, so that using the same technique as deriving maximum log likelihood,
        we can have the following equation:
        $$
        \begin{split}
            w &= \arg\max_w \sum_{i=1}^{N}log p(\textbf{y}|\textbf{X}, w)p(w)\\
            w &= \arg\max_w \frac{\sigma^2}{2}\sum_{i=1}^{N}(wx_i - y_i)^2 + \frac{\sigma^2_m}{2}(w^Tw)
        \end{split}
        $$

        The term $w^2 = w^Tw$, it is just written in the matrix form. This maximization is called maximize posterior or MAP for short. It
        maximizes the posterior probability of the model parameter.
    </p>
    <p>
        As we can see that L2 regularization can be interpreted as Gaussian prior over the model parameter.
        This is just one interpretation of L2 regularization and there are many other nice explanations of this technique.

    </p>

</body>

</html>
